<body style="background-color:#94D2F0;">
	<p>PRIMER PARCIAL: ELECCIONES</p>

<div style="background: blue">
  <p>Votos: {{i}}, Habilitados: {{j}}, Inabilitados: {{k}}</p>
</div>

<p></p>

<div style="background: green" *ngIf="i == j">TODOS YA VOTARON</div>

<p style="background: blue">MAYORES 65</p>

<div *ngFor="let votante of votantes">
  <div *ngIf="!votante.voto && votante.edad >= 65" [ngStyle]="{'background': votante.habilitado ? 'orange' : 'red'}">

      <app-primer-parcial 
        [nombre]="votante.nombre"
        [edad]="votante.edad" 
        [habilitado]="votante.habilitado">
      </app-primer-parcial>
   
   <div *ngIf="votante.habilitado">
     <button (click)="votante.voto = true">VOTAR</button>
   </div>

   <div *ngIf="!votante.habilitado">
     <button style="background-color:#C0C7CA;">VOTAR</button>
   </div>
   
  </div>  
</div>

<p style="background: blue">MENORES 65</p>

<div *ngFor="let votante of votantes">
  <div *ngIf="!votante.voto && votante.edad < 65" [ngStyle]="{'background': votante.habilitado ? 'orange' : 'red'}">

      <app-primer-parcial 
        [nombre]="votante.nombre"
        [edad]="votante.edad" 
        [habilitado]="votante.habilitado">
      </app-primer-parcial>
   
   <div *ngIf="votante.habilitado">
     <button (click)="votante.voto = true">VOTAR</button>
   </div>

   <div *ngIf="!votante.habilitado">
     <button style="background-color:#C0C7CA;">VOTAR</button>
   </div>
   
  </div>  
</div>

</body>