<p>SARA</p>

<!-- <div style="border: solid red;"> -->
  <!-- <app-test age="3" (clickAge)="saveClickChild($event)"></app-test> -->
<!-- </div> -->

<!-- <p>TAREA EN CLASES</p>
<div style="border: 1px solid green;">
  <app-test 
    [name]= "name" 
    age="3" 
    description="Estudiante" 
    (clickButton)="saveClickChild($event)">
  </app-test>
</div>

<button (click)=changeName()>Change Name</button> -->

<!-- <app-test2></app-test2> -->

<!-- <button name="button" onclick="">BUTTON</button> -->

<persona *ngIf="sw" name= "Sara"></persona>

<button (click)="sw = false;">Change SW</button>
