<!--<p>Componente test1 works!</p> -->

<!-- <p>Entrada AGE: {{age}}</p> -->

<!-- <button (click)="onClickSave()">SAVE</button> -->

<!--<p>Entrada NAME: {{name}}</p>
<p>Entrada AGE: {{age}}</p>
<p>Entrada DESCRIPTION: {{description}}</p>

<button (click)="onClickSave()">SAVE</button> -->

<!-- <input type="text" [value]="user"> -->

<!--<br>
<br>
<input type="text" [(ngModel)]="user">
<p>USER: {{user}}</p> -->

<div style="border: 1px solid red;">
  <p>TEST 2</p>
  
  <input type="text" [(ngModel)]="name">
  
  <p>Valor: {{name}}</p>

</div>
